# Majburiy o'zgaruvchilar
BOT_TOKEN=8744321861:AAHz01-MPBHoS6HkNErw5F450C991AbMlUI
CHANNEL_ID=@trendoxuz
ADMIN_IDS=8518203457
WEBHOOK_HOST=https://trendoxuz-konkurs.onrender.com

# Ixtiyoriy
MAX_PARTICIPANTS=100
DB_PATH=giveaway.db
