# Majburiy o'zgaruvchilar
BOT_TOKEN=8744321861:AAHz01-MPBHoS6HkNErw5F450C991AbMlUI
CHANNEL_ID=@trendoxuz
ADMIN_IDS=8518203457
WEBHOOK_HOST=https://trendoxuz-konkurs.onrender.com
DATABASE_URL=postgresql://neondb_owner:npg_qT07LZajnYJt@ep-autumn-sunset-amp9xidi-pooler.c-5.us-east-1.aws.neon.tech/TrendoX-Konkurs?sslmode=require&channel_binding=require

# Ixtiyoriy
MAX_PARTICIPANTS=100
